body {
    background-color: deeppink;
    color: rgba(0, 255, 225, 0.776);
    margin-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    header {
        border-bottom: solid 2px;
        text-align: center;
        font-size: 32px;
        padding: 10px;
        background-color:aliceblue
    }